@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/custom-forms';
@import 'node_modules/bootstrap/scss/input-group';
@import 'node_modules/bootstrap/scss/tables';
@import 'node_modules/bootstrap/scss/dropdown';
@import 'node_modules/bootstrap/scss/badge';
@import 'node_modules/bootstrap/scss/modal';
@import 'node_modules/bootstrap/scss/close';


.modal.show{
	display: block !important;
	background-color: rgba(black, 0.8);
}
